.full {
	padding: 0 !important;
}
.rr-header {
	border-bottom: solid 1px;
	color: #fff;
	background-color: #000;
}
.text-center {
	color: #CC0000;
	display: inline-block;
	vertical-align: middle;	
	font-weight: bold;
	padding: 15px;
}

.agate {
	font-size: .85em;
	padding: 0 2em;
	color: inherit;
}
.section-heading {
	font-size: .825em;
	text-align: center;
	padding: .5em;
	background-color: yellow;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
}
